{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="Donation - Greenville United Football Club">
  <meta name="description" content="Greenville United is going national! Make a donation today to help us bring our love of the sport to Greenville, and all of Eastern North Carolina.">
  <meta name="keywords" content="greenville, greenville nc, greenville nc soccer, minor league soccer, first flight league, greenville united, greenville united football club, greenville soccer club, greenville soccer team, greenville nc soccer team, greenville nc soccer club, greenville nc soccer team">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="revisit-after" content="7 days">
  <meta name="author" content="Greenville United Football Club">
  <title>Donation - Greenville United Football Club</title>
  <link rel="stylesheet" href="/css/index.css">
{% endblock head %}

{% block main %}
<main role="main">
    <div class="container-fluid pt-4" id="hero">
      <div class="p-4 rounded-3" id="card-back">
        <div class="container-fluid py-2">
          <h1 class="display-5 fw-bold">GUFC goes National</h1>
          <p class="col-md-8 fs-4 py-3">With the community's help and support, Greenville United is going national!<br>Make a donation today to help us bring our love of the sport to Greenville, and all of Eastern North Carolina.</p>
          <a href="/donate" class="btn btn-lg px-4" id="make-donation">Make a donation</a>
        </div>
      </div>
    </div>
    <section>
      <div class="counter">
        <div class="container">
          
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid pt-3">
        <div class="card text-center p-3" id="newsletter">
          <div class="card-body">
            <h5 class="card-title">Team Newsletter</h5>
            <p class="card-text">Sign up for our team newsletter to receive updates about the team, club, and league.<br><small class="muted">You may unsubscribe at any time.</small></p>
          </div> 
          <form action="saveEmail()" method="post">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <button class="btn" id="subtn" type="submit">Sign Up</button>
          </form>
        </div>
      </div>
    </section>
    <section>
      <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 text-center border-bottom">How will your donation be used?</h2>
        <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
          <div class="feature col text-center">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3 rounded">
              <img src="/img/football.svg" alt="soccer ball" class="rounded p-3" height="150rem">
            </div>
            <h3 class="fs-2 pb-2">Youth Skills Camps</h3>
            <p>A portion of your donation will go toward our thriving youth skills camps that operate during the summer.</p>
            <a href="#" class="icon-link d-inline-flex align-items-center bottom-link d-none">
              Learn more
            </a>
          </div>
          <div class="feature col text-center">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3 rounded">
              <img src="/img/trophy.svg" alt="trophy-icon" class="rounded p-3" height="150rem">
            </div>
            <h3 class="fs-2 pb-2">League Promotion</h3>
            <p>Your support will help us, as the team works toward our goal of a league promotion. A league promotion would help bring more revenue to our local sponsors and community.</p>
            <a href="#" class="icon-link d-inline-flex align-items-center bottom-link d-none">
              Call to action
            </a>
          </div>
          <div class="feature col text-center">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3 rounded">
              <img src="/img/clipboard-alt.svg" alt="clipboard-icon" class="rounded p-3" height="150rem">
            </div>
            <h3 class="fs-2 pb-2">Operational Support</h3>
            <p>Your donation will help support the players, staff, and community. Local businesses have been instrumental in our success.</p>
            <a href="#" class="icon-link d-inline-flex align-items-center bottom-link d-none">
              Call to action
            </a>
          </div>
        </div>
      </div>
    </section>
</main>
{% endblock %}

{% block scripts %}{% endblock %}